/* Navigation
  =============== */

.navigation-outer {
  background: $accent-color;
  .navigation {
    margin-left: auto;
    margin-right: auto;
    max-width: $large;
    padding: 0.5rem;
    a {
      text-decoration: none;
      line-height: 1.2rem;
    }
    .navigation-brand {
      display: flex;
      justify-self: start;
      align-items: center;
      background: $accent-color;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $display;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 700;
        font-size: 1.2rem;
        img {
          margin-right: 0.25rem;
        }
        &:hover {
          color: $primary-color;
        }
      }
      .logo {
        height: 30px;
        width: 30px;
      }
    }
    .navigation-links {
      display: flex;
      align-items: center;
      width: 100%;
      background: $accent-color;
      a {
        display: block;
        font-size: 1rem;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        padding: 0.5rem;
        text-align: center;
        flex: 1;
        &.button {
          font-family: $font-family;
          margin: 0 2px;
          align-self: center;
          padding: 10px;
          font-size: 0.9rem;
          width: 100%;
          color: white !important;
          margin: 0 1rem;
        }
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

@include small-breakpoint {
  .navigation-outer {
    .navigation {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-items: center;
      align-items: center;
      grid-gap: 5%;
      padding: 1rem 2rem;
      height: 80px;
      .navigation-brand {
        a {
          font-size: 1.8rem;
        }
        .logo {
          height: 50px;
          width: 50px;
        }
      }
      .navigation-links {
        justify-content: flex-end;
        a {
          font-size: 1.2rem;
          padding: 1rem;
          flex: none;
          &.button {
            margin: 0 5px;
            padding: 15px 20px;
            font-size: 1.2rem;
            width: auto;
          }
        }
      }
    }
  }
}
