/* Navigation
  =============== */

.navigation-outer {
    background: $accent-color;
    .navigation {
        margin-left: auto;
        margin-right: auto;
        max-width: $small;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 5%;
        justify-items: center;
        align-items: center;
        padding: $padding;
        a {
            text-decoration: none;
        }
        .navigation-brand {
            justify-self: start;
            align-items: center;
            background: $accent-color;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $heading-font-family;
                color: $primary-color;
                font-weight: 700;
                font-size: 1.4rem;
                &:hover {
                    color: lighten($primary-color, 10%);
                }
            }
        }
        .navigation-links {
            justify-self: end;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            background: $accent-color;
            a {
                display: block;
                font-size: 1.2rem;
                color: $primary-color;
                font-weight: 700;
                padding: 15px;
                &.button {
                    color: $accent-color;
                    font-family: $font-family;
                    margin: 0 5px;
                }
                &.navigation-social {
                    font-size: 1.2rem;
                    padding: 15px 8px;
                }
            }
        }
    }
}